:root {
    --litesea: #e6fff7;
    --sea: #80ffd4;
    --sky: #99ebff;
    --orchid: #ccccff;
    --rose: #ff99cc;
    --sand: #f7e9d4;
    --fog: #b3b3b3;
    --smoke: #404040;
}

.collapseBtn {
    color: var(--sand);
    text-shadow: 4px 2px 4px var(--smoke);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: transparent;
    border: transparent;
    box-shadow: 5px 3px 7px 4px var(--smoke)
}
.collapseBtn:hover {
    color: var(--litesea);
    text-shadow: 4px 2px 4px var(--smoke);
    opacity: .8;
    box-shadow: 5px 3px 7px 4px var(--litesea)
}
#collapsed {
    background-image: url("./images/test.jpg");
}
#collapsed1 {
    background-image: url("./images/test1.jpg"); 
}
#collapsed2 {
    background-image: url("./images/test2.jpg");
}