:root {
    --orchid:#ccccff;
    --sand:#f7e9d4;
    --smoke:#404040;
    --sea: #80ffd4;
  }

#canvasNav {
    color: var(--sand);
    background-image: linear gradient(to bottom, var(--orchid), var(--smoke));
}

a {
    color: var(--orchid);
    text-shadow: 1px 2px 3px var(--smoke);
}

a:hover {
    color: var(--sea);
    text-shadow: 1px 2px 3px var(--smoke);
}