:root {
  --orchid:#ccccff;
  --sand:#f7e9d4;
  --smoke:#404040;
}
.container {
  padding: 80px 120px;
}

 button.btn.navbar-toggle {
  margin: 12px;
} 
.btn {
  padding: 10px 20px;
  background-image: linear-gradient(to bottom, #404040, #ccccff);

  /* background-color: #333; */
  color: #f1f1f1;
  border-radius: 1;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-image: linear-gradient(to bottom, #404040, #00ffcc);

  background-color: #fff;
  color: #000;
}
/* #logo {
  float: left;
  margin-left: 20;
} */
.navbar {
  margin-bottom: 0;
  background-image: linear-gradient(to bottom, #ccccff, #404040);
  /* background-color: #2d2d30; */
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.nav-tabs li a {
  color: #777;
}
/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
  color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
  border-color: transparent;
}

