:root {
  --litesea:#e6fff7;
  --sea: #80ffd4;
  --sky:#99ebff;
  --orchid:#ccccff;
  --rose: #ff99cc;
  --sand:#f7e9d4;
  --fog:#b3b3b3;
  --misty:#999999;
  --gray:#737373;
  --smoke:#404040;
  --raspberrySorbet:#d2386c; 
  --orange:#ffa500; 
  --navy: #000080;
  --amethystOrchid: #926aa6;
  --milkchocolate: #996633;
  --dark:#000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'Libre Baskerville', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #ccccff, #b3b3b3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  color: var(--litesea)!important;
  text-shadow: 4px 2px 4px var(--smoke) !important; 

}

p {
  font-family: 'Libre Baskerville', serif;
  color: var(--litesea)!important;
  text-shadow: 4px 2px 4px var(--smoke) !important; 
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectBtn {
  border-radius: 10px;
  border: transparent;
  color: var(--litesea);
  text-shadow: 4px 2px 4px var(--smoke);
  background-image: linear-gradient(to top,#e6fff7, #404040);
  box-shadow: 2px 2px 4px var(--smoke);
}
#projectBtn:hover {
  background-image: linear-gradient(to top,#ccccff, #404040);
}